<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" metadata-complete="true" version="3.0">
  <display-name>AdapterJ</display-name>
  <description>AdapterJ - Example</description>
  
  <filter>
    <filter-name>SetCharacterEncoding</filter-name>
    <filter-class>org.apache.catalina.filters.SetCharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>SetCharacterEncoding</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <servlet>
    <servlet-name>SimpleListServlet1</servlet-name>
    <servlet-class>com.adapterj.example.servlet.SimpleListServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SimpleListServlet1</servlet-name>
    <url-pattern>/simple/list/html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SimpleListServlet2</servlet-name>
    <servlet-class>com.adapterj.example.servlet.SimpleListServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SimpleListServlet2</servlet-name>
    <url-pattern>/simple/list/script</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SimpleFormServlet1</servlet-name>
    <servlet-class>com.adapterj.example.servlet.SimpleFormServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SimpleFormServlet1</servlet-name>
    <url-pattern>/simple/form/html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SimpleFormServlet2</servlet-name>
    <servlet-class>com.adapterj.example.servlet.SimpleFormServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SimpleFormServlet2</servlet-name>
    <url-pattern>/simple/form/script</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SimpleViewServlet1</servlet-name>
    <servlet-class>com.adapterj.example.servlet.SimpleViewServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SimpleViewServlet1</servlet-name>
    <url-pattern>/simple/view/html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SimpleViewServlet2</servlet-name>
    <servlet-class>com.adapterj.example.servlet.SimpleViewServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SimpleViewServlet2</servlet-name>
    <url-pattern>/simple/view/script</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SimpleMapServlet1</servlet-name>
    <servlet-class>com.adapterj.example.servlet.SimpleMapServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SimpleMapServlet1</servlet-name>
    <url-pattern>/simple/map/html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SimpleMapServlet2</servlet-name>
    <servlet-class>com.adapterj.example.servlet.SimpleMapServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SimpleMapServlet2</servlet-name>
    <url-pattern>/simple/map/script</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SimpleInsertOrUpdateServlet</servlet-name>
    <servlet-class>com.adapterj.example.servlet.SimpleInsertOrUpdateServlet</servlet-class>
    <init-param>
      <param-name>redirect</param-name>
      <param-value>true</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>SimpleInsertOrUpdateServlet</servlet-name>
    <url-pattern>/simple/save</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SimpleBenchmarkServlet1</servlet-name>
    <servlet-class>com.adapterj.example.servlet.SimpleBenchmarkServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SimpleBenchmarkServlet1</servlet-name>
    <url-pattern>/simple/benchmark/html</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
</web-app>
